@model SchoolMsViaEntityFramework.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First name
        </th>
        <th>
            Last name
        </th>
        <th>
            Hire date
        </th>
        <th>
            Location
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Instructors) {
    string selectedRow = "";
    if(item.ID == ViewBag.InstructorId)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @if(item.OfficeAssignment != null)
            {
                @item.OfficeAssignment.Location
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.ActionLink("Select", "Index", new { id=item.ID}) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@if(Model.Courses != null)
{
    <h3>Courses taught be selected instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Credit</th>
            <th>Department name</th>
        </tr>
        @foreach(var item in Model.Courses)
        {
            string selectedRow = "";
            if(ViewBag.CourseId == item.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Credits
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }
    </table>
}

@if(Model.Enrollments != null)
{
    <h3>Enrollments of the selected course</h3>
    <table class="table">
        <tr>
            <th>Course ID</th>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Grade</th>
        </tr>
        @foreach(var item in Model.Enrollments)
        {
            <tr>
                <td>@item.CourseID</td>
                <td>@item.StudentID</td>
                <td>@item.Student.FullName</td>
                <td>@Html.DisplayFor(modelItem=>item.Grade)</td>
            </tr>
        }
    </table>
}
